

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>


<% if @user.raitings.count != 0%>
  <p>This user has given <%= @user.count_and_plural_of_raitings %> with average of <%= round(@user.average_raiting) %></p>

  <p>Favorite beer: <%= @user.favorite_beer.name %></p>
  <p>Favorite brewery: <%= @user.favorite_brewery.name %></p>
  <p>Preferred style: <%= @user.favorite_style %></p>

<% else %>
  <p>This user has given premission to sell their soul.</p>
<% end %>

<p>
  <% if @user.beer_clubs.any? %>
    member of
    <% @user.beer_clubs.each do |club| %>
      <li> <%= link_to club.name, club %> </li>
    <% end %>
  <% end %>
</p>


<h3>ratings</h3>

<% if @user.raitings.count != 0%>
<ul>
  <% @user.raitings.each do |review| %>
  <li>
    <%= review %>
    <% if @user == current_user %>
      <%= link_to 'delete', review, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </li>
  <% end %>

<% end %>

<%= link_to 'Back', users_path %>
<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
