<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery_id %>
</p>
<p>
<% if @beer.raitings.empty? %>
This beer has no reviewes. Thus it is sad :( <br> Please help us and make this poor beer happy!
<% else %>
    Has <%= @beer.count_raitings%> <%= "raiting".pluralize(@beer.count_raitings) %>, avarage: <%= @beer.avarage_raiting4 %>
<% end %>

</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
