<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery_id %>
</p>
<p>
<% if @beer.raitings.empty? %>
asdasd
<% else %>
  Has <%= @beer.count_raitings %> raitings, avarage: <%= @beer.avarage_raiting %>
<% end %>

</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
