

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery_id %>
</p>
<p>
<% if @beer.raitings.empty? %>
This beer has no reviewes. Thus it is sad :( <br> Please help us and make this poor beer happy!
<% else %>
    Has <%= @beer.count_raitings%> <%= "raiting".pluralize(@beer.count_raitings) %>, avarage: <%= round(@beer.average_raiting)%>
<% end %>

</p>


<%if current_user%>
  <h4> give a rating: </h4>

  <%= form_for(@raiting) do |f| %>
    <%= f.hidden_field :beer_id %>
    score: <%= f.number_field :score , :min => 1, :max => 50, :value => 25%>
    <%= f.submit class:"btn btn-primary" %>
<% end %>
<% end %>

<%= edit_destroy_buttons(@beer) %>
<%= link_to 'Back', beers_path %>
