<!DOCTYPE html>
<html>
  <head>
    <title>Ratebeer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navibar">
      <%= link_to 'breweries', breweries_path %>
      <%= link_to 'beers', beers_path %>
      <%= link_to 'ratings', raitings_path %>
      <%= link_to 'users', users_path %>
      <%= link_to 'clubs', beer_clubs_path %>
      <%= link_to 'Beer places', places_path %>
      |


      <% if current_user %>
      <%= link_to current_user.username, user_path(current_user.id) %>
      <%= link_to 'rate beers', new_raiting_path %>
      <% # TODO: Hide link for joining club if there is no clubs to join/ or replace it with crete new club button %> 
      <%= link_to 'join a club ', new_membership_path %>
      <%= link_to 'sign out', singout_path, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% else %>
      <%= link_to 'sign in', new_session_path %>
      <%= link_to 'sign up', new_user_path %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
